{% extends 'base/main.html' %}



{% block content %}
 <div class='header-bar'>
{% if request.user.is_authenticated %}
    
   
	Hello, {{ request.user }}<br>
	<h3 style='margin:10px;'>You have {{count}} incomplete task{{ count|pluralize:"s" }}</h3>
	
	

    <a href={% url 'admin-logout' %}>Logout</a>
{% else %}

    <a href={% url 'login' %}>login</a>
{% endif %}
</div>
	<hr>

	<div class="head-2">
	<h1>My to do list</h1>
	<div class='create'>
	<a href="{% url 'task-create'%}">Create Item +</a>
	</div>
	</div>
	<form method="GET">
		<input type='text' name='search-area' value=''>
		<input type='submit' value='search'>
	</form>

	<table>
		<tr>
			<td ><b>Item</b></td>
			
			

		</tr>
		<br>
		{% for task in object_list %}
		<tr>
				<td><a href={% url 'checkboxx' task.id %} class="checkboxx"></a></td>
				<td style='padding-right: 60px'>{{task.title}}</td>
				<td><a href={% url 'task-update' task.id %} class="icon"><span class="material-icons">edit</span></a></td>
				<td><a href={% url 'task-delete' task.id %} class="icon"><span class="material-icons">delete</span></a></td>
				<td ><div class='timestamp'><pre>{{task.created}}</pre></div></td>
		</tr>

		{% empty %}
		<h3>No items in list</h3>
		{% endfor %}

	</table>
	<a href="javascript:void(0);" onclick="toggleVisibility()">completed tasks</a>
	<div id="completed">
		<table>
		<tr>
			<td ><b>Item</b></td>
			
			

		</tr>
		<br>
		{% for task in task_list %}
		{% if task not in object_list %}
		<tr>
				<td style='padding-right: 60px'>{{task.title}}</td>
				<td><a href={% url 'task-update' task.id %} class="icon"><span class="material-icons">edit</span></a></td>
				<td><a href={% url 'task-delete' task.id %} class="icon"><span class="material-icons">delete</span></a></td>
				<td ><div class='timestamp'><pre>{{task.created}}</pre></div></td>
		</tr>
		{% endif %}
		{% empty %}
		<h3>No items in list</h3>
		{% endfor %}
		
	</table>
	</div>

<script>
    function toggleVisibility() {
        var element = document.getElementById('completed');
        if (element.style.display === "none") {
            element.style.display = "block"; // Show the element
        } else {
            element.style.display = "none"; // Hide the element
        }
    }
</script>
{% endblock content%}